*{
    margin:0;
    padding: 0;
}

body{
 /*    background-image: url(churras_assets/barbecueIcon.png);
    background-size: 100px; */
    background-image: linear-gradient(#6f3cd6 ,#cc96ff);
}

#container{
    position: relative;
    padding: 20px;
    margin:auto;
    margin-top: 20px;
    max-width: 500px;
    background-color:white ;
    border-radius:20px;
    background-image: linear-gradient(to right,#6f3cd6 ,#e8c4ff);
    box-shadow: -8px 8px #3e1d81;

}

#containerImg{
    background-color:;
    background-image: url("../churras_assets/barbecueImg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
  /*   border: 5px solid black; */
    float: left;
}

#containerForm{
    background-color:white;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color:#6f3cd6;
    box-sizing: border-box;
    border-radius: 20px;
    clear: both;
}

#form_churras{
    position: relative;
    width: 100%;
    padding: 30px;
    background-color:#f4e8ff81;
    margin: 0 auto;
    border-radius: 20px;
    clear: both;
    text-align: left;
    box-sizing: border-box;
}

#divResultado{
    margin-left: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#6f3cd6;
    margin: auto;
    text-align: left;


}


.iconDiv{
    display:block;
    background-color:;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    float: left;


}

input{
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
    padding: 10px;
    width: 70%;
    float: left;
    border:none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}

#inputSubmit{
    padding: 0px;
    margin: 0 auto;
    width: 50%;
}

input[type="submit"]{
    margin: 0px;
    width: 100%;  
    background-color:#6f3cd6;
    color:white;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:bold;
    border:none;
}

input[type="submit"]:hover{
    background-color: #3e1d81;
    color: white;
}

input[type="submit"]:active{
    background-color: white;
    color: #3e1d81;
}
br{
    clear:both;
}


h2{
    font-family: 'Dela Gothic One', cursive, Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
}
.iconDiv img{
    width: 20px;
}

::placeholder{
    color:white;

}

hr{
    background-color:#6f3cd6 ;
    border:none;
    height: 1px;
}
body{
    padding: 15px;
    text-align: center;
}

h1{
    margin: auto;
    font-family: 'Dela Gothic One', cursive, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1em;
    color: #F4EAFE;
}